body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: 
  /* top, transparent red, faked with gradient */ 
  linear-gradient(
    rgba(15, 0, 25, 0.75), 
    rgba(15, 0, 25, 0.75)
  ),
  url(./assets/back.png);
  background-position: center;
  background-size: 20%;
  background-repeat: repeat;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
